Package: com.p-x9.showtouch
Name: showtouch
Version: 0.3.7
Architecture: iphoneos-arm
Description: 👆Show a mark at the touched point on window.
Maintainer: p-x9
Author: p-x9
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0), firmware (<< 15.0)
