<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>ShowTouch</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>id</key>
			<string>isEnabled</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Touch Marker</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Radius</string>
			<key>key</key>
			<string>radius</string>
			<key>id</key>
			<string>radius</string>
			<key>default</key>
			<integer>20</integer>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>50</integer>
			<key>showValue</key>
			<true/>
			<key>isContinuous</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Color</string>
			<key>key</key>
			<string>color</string>
			<key>id</key>
			<string>color</string>
			<key>default</key>
			<string>AA0000FF</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>stEditor</key>
			<string>color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Display Mode</string>
			<key>key</key>
			<string>displayMode</string>
			<key>id</key>
			<string>displayMode</string>
			<key>default</key>
			<integer>0</integer>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Always</string>
				<string>Recording only</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Offset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Marker Offset</string>
			<key>key</key>
			<string>offset</string>
			<key>id</key>
			<string>offset</string>
			<key>default</key>
			<array>
				<integer>0</integer>
				<integer>-10</integer>
			</array>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>stEditor</key>
			<string>point</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Border</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>isBordered</string>
			<key>id</key>
			<string>isBordered</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Border Width</string>
			<key>key</key>
			<string>borderWidth</string>
			<key>id</key>
			<string>borderWidth</string>
			<key>default</key>
			<integer>1</integer>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>10</integer>
			<key>showValue</key>
			<true/>
			<key>isContinuous</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Border Color</string>
			<key>key</key>
			<string>borderColor</string>
			<key>id</key>
			<string>borderColor</string>
			<key>default</key>
			<string>000000FF</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>stEditor</key>
			<string>color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Shadow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>isDropShadow</string>
			<key>id</key>
			<string>isDropShadow</string>
			<key>default</key>
			<true/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>label</key>
			<string>Shadow Radius</string>
			<key>key</key>
			<string>shadowRadius</string>
			<key>id</key>
			<string>shadowRadius</string>
			<key>default</key>
			<integer>3</integer>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>10</integer>
			<key>showValue</key>
			<true/>
			<key>isContinuous</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Shadow Color</string>
			<key>key</key>
			<string>shadowColor</string>
			<key>id</key>
			<string>shadowColor</string>
			<key>default</key>
			<string>000000FF</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>stEditor</key>
			<string>color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Shadow Offset</string>
			<key>key</key>
			<string>shadowOffset</string>
			<key>id</key>
			<string>shadowOffset</string>
			<key>default</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>stEditor</key>
			<string>point</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Coordinate Label</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>isShowLocation</string>
			<key>id</key>
			<string>isShowLocation</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Troubleshooting</string>
			<key>footerText</key>
			<string>Shows which process and window draw each marker, to help diagnose duplicate indicators.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Show renderer source</string>
			<key>key</key>
			<string>showRendererSource</string>
			<key>id</key>
			<string>showRendererSource</string>
			<key>default</key>
			<false/>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>stURL</key>
			<string>https://github.com/p-x9/ShowTouch</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Twitter</string>
			<key>stURL</key>
			<string>https://twitter.com/p_x9</string>
		</dict>
	</array>
</dict>
</plist>
